---
---
@import "{{ site.theme }}";
#header {
     /* position: static; */
     display: None;
}

div.wrapper {
  background-color:#1c1c1c
}
body {
  background:#151515;
  background:linear-gradient(#151515, #101010)
}
